body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: #fcdb83;
    overflow: hidden;
}

img{
    position: relative;
    top: 183px;
    left: -117px;
    transform: rotate(20deg);
}

