body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background: #fcdb83;
}

.intro{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.wrapper {
    margin: auto;
    width: 95vw;
    min-height: 500px;
    box-shadow: 5px 5px 13px #000;
    overflow: hidden;
    font-family: 'Lobster', cursive;
    
}

.wrapper .left {
    width: 48%;
    min-height: 500px;
    background: #76aed0;
    float: left;
}

.wrapper .left:before{
    left: 100%;
    top: -19.5px;
    content: "";
    border-bottom: 500px solid #76aed0;
    border-left: 0px solid #76aed0;
    border-right: 75px solid transparent;
    position: relative;
}

.wrapper .right {
    width: 52%;
    min-height: 500px;
    background: #5dbf5a;
    float: left;
    overflow: hidden;
}

.right .underconstruction{
    position: absolute;
    right: 57px;
    top: 337px;
    width: 464px;
    text-align: center;
    font-size: 35px;
    transform: rotate(43deg);
    border: 3px solid #50aca8;
    border-radius: 10px;
    background: #f15e4d;
}

a{
    text-decoration: none;
}

.content{
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
    color: #000;
}

i{
    font-size: 100px;
}
